<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729792396035-2nastpoe32ninh965dptm77a3gjattu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729792396035-2nastpoe32ninh965dptm77a3gjattu9</string>
	<key>API_KEY</key>
	<string>AIzaSyDknqE-01LkLZPl_zgjd87Px6H6yCJqYhM</string>
	<key>GCM_SENDER_ID</key>
	<string>729792396035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.vietsens.inventec.emr</string>
	<key>PROJECT_ID</key>
	<string>benhandientu-33c8f</string>
	<key>STORAGE_BUCKET</key>
	<string>benhandientu-33c8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729792396035:ios:b50df9aae02af6f4a88736</string>
</dict>
</plist>